@font-face {
  font-family: 'Kenao';
  src: url('./assets/fonts/Kenao.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-main: #1F2232;
}

body
{
    font-family: "Kenao";
    background-color: var(--bg-main);
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
