a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#navbar {
  background: rgb(189,154,37);
  background: -moz-linear-gradient(45deg, rgba(189,154,37,1) 0%, rgba(252,232,136,1) 59%, rgba(214,193,93,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(189,154,37,1) 0%, rgba(252,232,136,1) 59%, rgba(214,193,93,1) 100%);
  background: linear-gradient(45deg, rgba(189,154,37,1) 0%, rgba(252,232,136,1) 59%, rgba(214,193,93,1) 100%);
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);
  width: 100vw;
}

#title > h1
{
    text-align: left;
    font-size: 50px;
}

#title > h2
{
    text-align: left;
    font-size: 18px;
    color: var(--bg-main);
}

@media only screen and (max-width: 775px)
{
    .navbar>.container
    {
        flex-direction: column;
    }

    .navbar-brand
    {
        margin-right: 0;
    }

    #title
    {
        justify-self: center;
    }

    #title h1, #title h2
    {
      text-align: center;
    }
}
